[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.template.PhotoRora
Exec=/usr/bin/ru.template.PhotoRora
Name=PhotoRora

[X-Application]
Permissions=Pictures
OrganizationName=ru.template
ApplicationName=PhotoRora
